

#name{
  font-family: "Heebo";
  font-size: 45px;
}

#bg-img{
  height:100%;
  width:100%;
}

#bg-img-div{
  padding-right:0px;
}

#about-img{
  float:left;
  max-width:35%;
  margin-top: 10px;
  margin-right: 20px;
  border-radius:15px;
}

#home-text-area{
  background-color: #5e5858;
}
